body{
	font-size: 1.6em;
	text-align: center;
}
hr{
	border-top: 1px solid #bbb;
	width: 50%;
}
a{
	text-decoration: none;
}
section{
	width: 80%;
}
.post-title{
	font-size: 1em;
}
.text{
	font-size: 1em;
}
.date{
	font-size: 0.7em;
	text-align: left;
}

@media all and (min-width:1024px) and (max-width:2560px) {
/* ランドスケープモードのスマートフォン、ポートレートモードのタブレットまたはウィンドウ幅の狭いデスクトップ向けのスタイル */
}

@media all and (min-width:600px) and (max-width:1024px) {
/* ランドスケープモードのスマートフォン、ポートレートモードのタブレットまたはウィンドウ幅の狭いデスクトップ向けのスタイル */
}

@media all and (min-width:480px) and (max-width:600px) {
/* ７インチタブレット用 */
}

@media all and (max-width:480px) {
/* ポートレートモードのスマートフォン向けのスタイル */
}